@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  margin: 0;
  font-family: "Zen Dots", cursive;
}

.App {
  display: flex;
  flex-direction: column;
}

#Mike-N-Cam {
  width: 13vw;
  height: 25vh;
  border-radius: 50%;
}



#Nav-Styling {
  /* display: flex;
  flex-direction: row;
  position: fixed;
  left:0;
  justify-content: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 15vh;
  width: 100vw;
  
  background-color: rgb(10, 69, 112);
}

#hamburger-contianer{
  align-items: center;
  text-align: center;
}

#Nav-Styling a {
  text-decoration: none;
  color: black;

}

#menu {
  text-align: center;
  width: 100vw;
}

#nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
 

}

.Home-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 15vh;
}

.Home-Container p {
  margin-left: 7vw;
  margin-right: 7vw;
}

.Home-Container p a {
  text-decoration: none;
  color: rgb(10, 69, 112);
}

.Icon {
  height: 5vh;
  width: 5vw;
}

.about-container {
  margin-top: 15vh;
}
.about-container{
margin-left: 7vw;
margin-right: 7vw;
}

#about-header {
  text-align: center;
}

#projects-header {
  text-align: center;
}
.projects-container {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 15vh;
  }

  .projects-container li{
      margin-bottom: 1vw;
  }
  .projects-container a{
    text-decoration: none;
    color:black;
  }
  
  #projects-sc-1{
      height: 50vh;
      width: 45vw;
      border: 1vw solid;
      border-color: black;
  }

  #projects-sc-2{
    height: 50vh;
    width: 30vw;
    border: 1vw solid;
    border-color: black;
}

  .text-container-1{
      margin-right: 2vw;
  }

  .text-container-2{
    margin-left: 2vw;
}

  .work-container{
      display: flex;
      flex-direction: row;
  }

  .screenshot-container{
      border: 10px;
      border-color: black;
  }

  #contact-container{
    width: 85vw;
    height: 100vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vw;
  }

  #contact-container a{
    color: black;
  }

  .contact-header{
    text-align: center;
  }

  #email-form{
    display: flex;
    flex-direction: column;
  }

  .email-input{
    width: 13vw
  }

  .email-text{
    width: 20vw;
    height: 20vh;

  }

  @media screen and (max-width: 600px) {

    body{
      margin: 0;
    }

    .App {
      display: flex;
      flex-direction: column;
    }

    #Nav-Styling{
        position: relative;
        display: inline-block;
      
    }

    #hamburger-container {
      display: flex;
      justify-content: left;
      top:0;
      width: 100vw;
      height: 10vh;
      background-color: rgb(10, 69, 112);
      text-align: center;
      align-items: center;

     
      
    }

   


    #nav-links {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: rgb(10, 69, 112);
      justify-content: flex-start;

    }

    #nav-links a {
      margin-bottom: 5vh;
      margin-top: 1vh;
      padding: 0;
    }

    #icon-container{
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: space-evenly;
    
    }


    .Icon{
      height: 15vh;
  width: 15vw;

    }

    #bars{
      text-align: left;
      margin-left: 5vw;
    
    }

    .Home-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70vw;
      height: 60vh;
      margin-left: 10vw;

    }

    .Home-Container h1{
      text-align: center;
    }


  } 